$base-font-family: 'Heebo';
$base-font-size: 10px;


$color-dark: #444;
$color-blue: #5C5CFF;
$color-primary: #1B1725;
$color-secondary: #534B62;
$color-tertiary: #A499B3;
$color-accent-light: #927ABF;
$color-accent-dark: #59468A;