@use '../global/variables';

.basic-sticky-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basic-sticky-content * {
    text-align: center;
}

.basic-sticky-content.sticky-content-2 {
    color: #fff;
    background: variables.$color-accent-light;
}